<html>

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Sangmanch Infographics API</h1>
        </div>
        <div class="content">
            <h2>Available Routes:</h2>
            <h3>User (ICCR)</h3>
            <h3>Finance Manager</h3>
            <ul>
                <li> <a href="/finance/usr/expense">/finance/usr/expense </a></li>
                <li> <a href="/finance/usr/reach">/finance/usr/reach</a></li>
            </ul>
            <h3>Governing Body</h3>
            <h3>General Assembly</h3>
        </div>
</body>

</html>