<html>

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Sangmanch Infographics API</h1>
        </div>
        <div class="content">
            <h2>Available Routes:</h2>
            <h3>User (ICCR)</h3>
                <ul>
                    <li> <a href="/user/expense">/user/expense </a></li>
                    <li> <a href="/user/reach">/user/reach</a></li>
                    <li><a href="/user/count">/user/count</a></li>
                    <li><a href="/user/status">/user/status</a></li>
                    <li><a href="/user/monthly">/user/monthly</a></li>
                </ul>
            <h3>Finance Manager</h3>
            <h3>Governing Body</h3>
            <h3>General Assembly</h3>
            <h3>AI Routes</h3>
                <ul>
                    <li><a href="/ai/predict/">/ai/prediction/(value)</a></li>
                </ul>
        </div>
</body>

</html>